# Experimentation

### Data Ingestion

In [1]:
import pandas as pd
import numpy as np
import os

import warnings
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
FILE_NAME = "insurance.csv"
DATA_FOLDER = "data"

main_path = os.getcwd()
file_path = os.path.join(os.path.join(main_path, DATA_FOLDER), FILE_NAME)

In [3]:
%%time

insurance_data = pd.read_csv(file_path)

CPU times: user 6.99 ms, sys: 4.96 ms, total: 11.9 ms
Wall time: 18.5 ms

In [4]:
insurance_data.head()

   age     sex   bmi  children smoker     region  charges
0   19  female 27.90         0    yes  southwest 16884.92
1   18    male 33.77         1     no  southeast  1725.55
2   28    male 33.00         3     no  southeast  4449.46
3   33    male 22.70         0     no  northwest 21984.47
4   32    male 28.88         0     no  northwest  3866.86

### Data Inspection

In [5]:
insurance_data.shape

(1338, 7)

In [6]:
insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### Exploration Data Analysis

 - Statistical Analysis

 - Plots

 - Correlation

### Model Building

 - Train Test Split

In [7]:
from sklearn.model_selection import train_test_split
from autogluon.tabular import TabularDataset, TabularPredictor

In [8]:
train_data, test_data = train_test_split(insurance_data, test_size=0.33, random_state=42)

In [9]:
train_data.shape, test_data.shape

((896, 7), (442, 7))

In [10]:
train_data.head()

      age     sex   bmi  children smoker     region  charges
1046   43  female 25.08         0     no  northeast  7325.05
682    39    male 35.30         2    yes  southwest 40103.89
1037   45  female 30.50         1    yes  northwest 39725.52
490    19  female 32.90         0     no  southwest  1748.77
39     60    male 39.90         0    yes  southwest 48173.36

In [11]:
test_data.head()

      age     sex   bmi  children smoker     region  charges
764    45  female 25.18         2     no  northeast  9095.07
887    36  female 30.02         0     no  northwest  5272.18
890    64  female 26.89         0    yes  northwest 29330.98
1293   46    male 25.75         3     no  northwest  9301.89
259    19    male 31.92         0    yes  northwest 33750.29

In [12]:
label = 'charges'
print("Summary of class variable: \n", train_data[label].describe())

Summary of class variable:
 count     896.00
mean    13379.69
std     12110.71
min      1121.87
25%      4819.84
50%      9556.30
75%     17092.92
max     62592.87
Name: charges, dtype: float64

In [ ]:
%%time

save_path = 'models'
predictor = TabularPredictor(label=label, path=save_path).fit(train_data)# , presets="best_quality")

Warning: path already exists! This predictor may overwrite an existing predictor! path="models"
Beginning AutoGluon training ...
AutoGluon will save models to "models/"
AutoGluon Version:  0.7.0
Python Version:     3.9.16
Operating System:   Darwin
Platform Machine:   x86_64
Platform Version:   Darwin Kernel Version 22.3.0: Mon Jan 30 20:42:11 PST 2023; root:xnu-8792.81.3~2/RELEASE_X86_64
Train Data Rows:    896
Train Data Columns: 6
Label Column: charges
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (62592.87309, 1121.8739, 13379.68825, 12110.71371)
	If 'regression' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    3610.8 MB
	Train Data (Original)  Memory Usage: 0.19 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 2 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 1 | ['bmi']
		('int', [])    : 2 | ['age', 'children']
		('object', []) : 3 | ['sex', 'smoker', 'region']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 1 | ['region']
		('float', [])     : 1 | ['bmi']
		('int', [])       : 2 | ['age', 'children']
		('int', ['bool']) : 2 | ['sex', 'smoker']
	0.1s = Fit runtime
	6 features in original data used to generate 6 features in processed data.
	Train Data (Processed) Memory Usage: 0.02 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.13s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 716, Val Rows: 180
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif ...
	-13410.0625	 = Validation score   (-root_mean_squared_error)
	2.52s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: KNeighborsDist ...
	-13848.6453	 = Validation score   (-root_mean_squared_error)
	0.01s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMXT ...

In [2]:
predictor.leaderboard(silent=True)

In [7]:
#import numpy
numpy.__version__

'1.23.5'