# Experimentation

### Data Ingestion

In [6]:
import pandas as pd
import numpy as np
import os

import warnings
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [8]:
FILE_NAME = "insurance.csv"
DATA_FOLDER = "data"

main_path = os.getcwd()
file_path = os.path.join(os.path.join(main_path, DATA_FOLDER), FILE_NAME)

In [9]:
%%time

insurance_data = pd.read_csv(file_path)

CPU times: user 8.13 ms, sys: 5.36 ms, total: 13.5 ms
Wall time: 21 ms

In [10]:
insurance_data.head()

   age     sex   bmi  children smoker     region  charges
0   19  female 27.90         0    yes  southwest 16884.92
1   18    male 33.77         1     no  southeast  1725.55
2   28    male 33.00         3     no  southeast  4449.46
3   33    male 22.70         0     no  northwest 21984.47
4   32    male 28.88         0     no  northwest  3866.86

### Data Inspection

In [11]:
insurance_data.shape
insurance_data = insurance_data[0:200]
insurance_data

     age     sex   bmi  children smoker     region  charges
0     19  female 27.90         0    yes  southwest 16884.92
1     18    male 33.77         1     no  southeast  1725.55
2     28    male 33.00         3     no  southeast  4449.46
3     33    male 22.70         0     no  northwest 21984.47
4     32    male 28.88         0     no  northwest  3866.86
5     31  female 25.74         0     no  southeast  3756.62
6     46  female 33.44         1     no  southeast  8240.59
7     37  female 27.74         3     no  northwest  7281.51
8     37    male 29.83         2     no  northeast  6406.41
9     60  female 25.84         0     no  northwest 28923.14
10    25    male 26.22         0     no  northeast  2721.32
11    62  female 26.29         0    yes  southeast 27808.73
12    23    male 34.40         0     no  southwest  1826.84
13    56  female 39.82         0     no  southeast 11090.72
14    27    male 42.13         0    yes  southeast 39611.76
15    19    male 24.60         1     no  southwest  1837.24
16    52  female 30.78         1     no  northeast 10797.34
17    23    male 23.84         0     no  northeast  2395.17
18    56    male 40.30         0     no  southwest 10602.39
19    30    male 35.30         0    yes  southwest 36837.47
20    60  female 36.01         0     no  northeast 13228.85
21    30  female 32.40         1     no  southwest  4149.74
22    18    male 34.10         0     no  southeast  1137.01
23    34  female 31.92         1    yes  northeast 37701.88
24    37    male 28.02         2     no  northwest  6203.90
25    59  female 27.72         3     no  southeast 14001.13
26    63  female 23.09         0     no  northeast 14451.84
27    55  female 32.77         2     no  northwest 12268.63
28    23    male 17.39         1     no  northwest  2775.19
29    31    male 36.30         2    yes  southwest 38711.00
30    22    male 35.60         0    yes  southwest 35585.58
31    18  female 26.32         0     no  northeast  2198.19
32    19  female 28.60         5     no  southwest  4687.80
33    63    male 28.31         0     no  northwest 13770.10
34    28    male 36.40         1    yes  southwest 51194.56
35    19    male 20.43         0     no  northwest  1625.43
36    62  female 32.97         3     no  northwest 15612.19
37    26    male 20.80         0     no  southwest  2302.30
38    35    male 36.67         1    yes  northeast 39774.28
39    60    male 39.90         0    yes  southwest 48173.36
40    24  female 26.60         0     no  northeast  3046.06
41    31  female 36.63         2     no  southeast  4949.76
42    41    male 21.78         1     no  southeast  6272.48
43    37  female 30.80         2     no  southeast  6313.76
44    38    male 37.05         1     no  northeast  6079.67
45    55    male 37.30         0     no  southwest 20630.28
46    18  female 38.66         2     no  northeast  3393.36
47    28  female 34.77         0     no  northwest  3556.92
48    60  female 24.53         0     no  southeast 12629.90
49    36    male 35.20         1    yes  southeast 38709.18
50    18  female 35.62         0     no  northeast  2211.13
51    21  female 33.63         2     no  northwest  3579.83
52    48    male 28.00         1    yes  southwest 23568.27
53    36    male 34.43         0    yes  southeast 37742.58
54    40  female 28.69         3     no  northwest  8059.68
55    58    male 36.95         2    yes  northwest 47496.49
56    58  female 31.82         2     no  northeast 13607.37
57    18    male 31.68         2    yes  southeast 34303.17
58    53  female 22.88         1    yes  southeast 23244.79
59    34  female 37.34         2     no  northwest  5989.52
60    43    male 27.36         3     no  northeast  8606.22
61    25    male 33.66         4     no  southeast  4504.66
62    64    male 24.70         1     no  northwest 30166.62
63    28  female 25.93         1     no  northwest  4133.64
64    20  female 22.42         0    yes  northwest 14711.74
65    19  female 28.90         0     no  southwest  1743.21
66    61  female 39.10         2     no  southwest 14235.07
67    40    male 26.32         1     no  northwest  6389.38
68    40  female 36.19         0     no  southeast  5920.10
69    28    male 23.98         3    yes  southeast 17663.14
70    27  female 24.75         0    yes  southeast 16577.78
71    31    male 28.50         5     no  northeast  6799.46
72    53  female 28.10         3     no  southwest 11741.73
73    58    male 32.01         1     no  southeast 11946.63
74    44    male 27.40         2     no  southwest  7726.85
75    57    male 34.01         0     no  northwest 11356.66
76    29  female 29.59         1     no  southeast  3947.41
77    21    male 35.53         0     no  southeast  1532.47
78    22  female 39.80         0     no  northeast  2755.02
79    41  female 32.97         0     no  northwest  6571.02
80    31    male 26.89         1     no  northeast  4441.21
81    45  female 38.28         0     no  northeast  7935.29
82    22    male 37.62         1    yes  southeast 37165.16
83    48  female 41.23         4     no  northwest 11033.66
84    37  female 34.80         2    yes  southwest 39836.52
85    45    male 22.89         2    yes  northwest 21098.55
86    57  female 31.16         0    yes  northwest 43578.94
87    56  female 27.20         0     no  southwest 11073.18
88    46  female 27.74         0     no  northwest  8026.67
89    55  female 26.98         0     no  northwest 11082.58
90    21  female 39.49         0     no  southeast  2026.97
91    53  female 24.80         1     no  northwest 10942.13
92    59    male 29.83         3    yes  northeast 30184.94
93    35    male 34.77         2     no  northwest  5729.01
94    64  female 31.30         2    yes  southwest 47291.06
95    28  female 37.62         1     no  southeast  3766.88
96    54  female 30.80         3     no  southwest 12105.32
97    55    male 38.28         0     no  southeast 10226.28
98    56    male 19.95         0    yes  northeast 22412.65
99    38    male 19.30         0    yes  southwest 15820.70
100   41  female 31.60         0     no  southwest  6186.13
101   30    male 25.46         0     no  northeast  3645.09
102   18  female 30.11         0     no  northeast 21344.85
103   61  female 29.92         3    yes  southeast 30942.19
104   34  female 27.50         1     no  southwest  5003.85
105   20    male 28.02         1    yes  northwest 17560.38
106   19  female 28.40         1     no  southwest  2331.52
107   26    male 30.88         2     no  northwest  3877.30
108   29    male 27.94         0     no  southeast  2867.12
109   63    male 35.09         0    yes  southeast 47055.53
110   54    male 33.63         1     no  northwest 10825.25
111   55  female 29.70         2     no  southwest 11881.36
112   37    male 30.80         0     no  southwest  4646.76
113   21  female 35.72         0     no  northwest  2404.73
114   52    male 32.20         3     no  northeast 11488.32
115   60    male 28.59         0     no  northeast 30260.00
116   58    male 49.06         0     no  southeast 11381.33
117   29  female 27.94         1    yes  southeast 19107.78
118   49  female 27.17         0     no  southeast  8601.33
119   37  female 23.37         2     no  northwest  6686.43
120   44    male 37.10         2     no  southwest  7740.34
121   18    male 23.75         0     no  northeast  1705.62
122   20  female 28.98         0     no  northwest  2257.48
123   44    male 31.35         1    yes  northeast 39556.49
124   47  female 33.91         3     no  northwest 10115.01
125   26  female 28.79         0     no  northeast  3385.40
126   19  female 28.30         0    yes  southwest 17081.08
127   52  female 37.40         0     no  southwest  9634.54
128   32  female 17.77         2    yes  northwest 32734.19
129   38    male 34.70         2     no  southwest  6082.40
130   59  female 26.50         0     no  northeast 12815.44
131   61  female 22.04         0     no  northeast 13616.36
132   53  female 35.90         2     no  southwest 11163.57
133   19    male 25.55         0     no  northwest  1632.56
134   20  female 28.79         0     no  northeast  2457.21
135   22  female 28.05         0     no  southeast  2155.68
136   19    male 34.10         0     no  southwest  1261.44
137   22    male 25.18         0     no  northwest  2045.69
138   54  female 31.90         3     no  southeast 27322.73
139   22  female 36.00         0     no  southwest  2166.73
140   34    male 22.42         2     no  northeast 27375.90
141   26    male 32.49         1     no  northeast  3490.55
142   34    male 25.30         2    yes  southeast 18972.49
143   29    male 29.73         2     no  northwest 18157.88
144   30    male 28.69         3    yes  northwest 20745.99
145   29  female 38.83         3     no  southeast  5138.26
146   46    male 30.50         3    yes  northwest 40720.55
147   51  female 37.73         1     no  southeast  9877.61
148   53  female 37.43         1     no  northwest 10959.69
149   19    male 28.40         1     no  southwest  1842.52
150   35    male 24.13         1     no  northwest  5125.22
151   48    male 29.70         0     no  southeast  7789.64
152   32  female 37.15         3     no  northeast  6334.34
153   42  female 23.37         0    yes  northeast 19964.75
154   40  female 25.46         1     no  northeast  7077.19
155   44    male 39.52         0     no  northwest  6948.70
156   48    male 24.42         0    yes  southeast 21223.68
157   18    male 25.18         0    yes  northeast 15518.18
158   30    male 35.53         0    yes  southeast 36950.26
159   50  female 27.83         3     no  southeast 19749.38
160   42  female 26.60         0    yes  northwest 21348.71
161   18  female 36.85         0    yes  southeast 36149.48
162   54    male 39.60         1     no  southwest 10450.55
163   32  female 29.80         2     no  southwest  5152.13
164   37    male 29.64         0     no  northwest  5028.15
165   47    male 28.21         4     no  northeast 10407.09
166   20  female 37.00         5     no  southwest  4830.63
167   32  female 33.16         3     no  northwest  6128.80
168   19  female 31.82         1     no  northwest  2719.28
169   27    male 18.91         3     no  northeast  4827.90
170   63    male 41.47         0     no  southeast 13405.39
171   49    male 30.30         0     no  southwest  8116.68
172   18    male 15.96         0     no  northeast  1694.80
173   35  female 34.80         1     no  southwest  5246.05
174   24  female 33.34         0     no  northwest  2855.44
175   63  female 37.70         0    yes  southwest 48824.45
176   38    male 27.84         2     no  northwest  6455.86
177   54    male 29.20         1     no  southwest 10436.10
178   46  female 28.90         2     no  southwest  8823.28
179   41  female 33.16         3     no  northeast  8538.29
180   58    male 28.59         0     no  northwest 11735.88
181   18  female 38.28         0     no  southeast  1631.82
182   22    male 19.95         3     no  northeast  4005.42
183   44  female 26.41         0     no  northwest  7419.48
184   44    male 30.69         2     no  southeast  7731.43
185   36    male 41.90         3    yes  northeast 43753.34
186   26  female 29.92         2     no  southeast  3981.98
187   30  female 30.90         3     no  southwest  5325.65
188   41  female 32.20         1     no  southwest  6775.96
189   29  female 32.11         2     no  northwest  4922.92
190   61    male 31.57         0     no  southeast 12557.61
191   36  female 26.20         0     no  southwest  4883.87
192   25    male 25.74         0     no  southeast  2137.65
193   56  female 26.60         1     no  northwest 12044.34
194   18    male 34.43         0     no  southeast  1137.47
195   19    male 30.59         0     no  northwest  1639.56
196   39  female 32.80         0     no  southwest  5649.72
197   45  female 28.60         2     no  southeast  8516.83
198   51  female 18.05         0     no  northwest  9644.25
199   64  female 39.33         0     no  northeast 14901.52

In [12]:
insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       200 non-null    int64
 1   sex       200 non-null    object
 2   bmi       200 non-null    float64
 3   children  200 non-null    int64
 4   smoker    200 non-null    object
 5   region    200 non-null    object
 6   charges   200 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 11.1+ KB

### Exploration Data Analysis

 - Statistical Analysis

 - Plots

 - Correlation

### Model Building

 - Train Test Split

In [13]:
from sklearn.model_selection import train_test_split
from autogluon.tabular import TabularDataset, TabularPredictor

In [14]:
train_data, test_data = train_test_split(insurance_data, test_size=0.33, random_state=42)

In [15]:
train_data.shape, test_data.shape

((134, 7), (66, 7))

In [16]:
train_data.head()

     age     sex   bmi  children smoker     region  charges
42    41    male 21.78         1     no  southeast  6272.48
189   29  female 32.11         2     no  northwest  4922.92
90    21  female 39.49         0     no  southeast  2026.97
136   19    male 34.10         0     no  southwest  1261.44
51    21  female 33.63         2     no  northwest  3579.83

In [17]:
test_data.head()

     age     sex   bmi  children smoker     region  charges
95    28  female 37.62         1     no  southeast  3766.88
15    19    male 24.60         1     no  southwest  1837.24
30    22    male 35.60         0    yes  southwest 35585.58
158   30    male 35.53         0    yes  southeast 36950.26
128   32  female 17.77         2    yes  northwest 32734.19

In [18]:
label = 'charges'
print("Summary of class variable: \n", train_data[label].describe())

Summary of class variable:
 count     134.00
mean    12856.85
std     12215.90
min      1137.01
25%      4463.26
50%      8088.18
75%     15768.57
max     51194.56
Name: charges, dtype: float64

In [19]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [ ]:
%%time

save_path = 'models'
predictor = TabularPredictor(label=label, path=save_path).fit(train_data)# , presets="best_quality")

Warning: path already exists! This predictor may overwrite an existing predictor! path="models"
Beginning AutoGluon training ...
AutoGluon will save models to "models/"
AutoGluon Version:  0.7.0
Python Version:     3.9.16
Operating System:   Darwin
Platform Machine:   x86_64
Platform Version:   Darwin Kernel Version 22.3.0: Mon Jan 30 20:42:11 PST 2023; root:xnu-8792.81.3~2/RELEASE_X86_64
Train Data Rows:    134
Train Data Columns: 6
Label Column: charges
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (51194.55914, 1137.011, 12856.84507, 12215.90433)
	If 'regression' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    4322.18 MB
	Train Data (Original)  Memory Usage: 0.03 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 2 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 1 | ['bmi']
		('int', [])    : 2 | ['age', 'children']
		('object', []) : 3 | ['sex', 'smoker', 'region']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 1 | ['region']
		('float', [])     : 1 | ['bmi']
		('int', [])       : 2 | ['age', 'children']
		('int', ['bool']) : 2 | ['sex', 'smoker']
	0.1s = Fit runtime
	6 features in original data used to generate 6 features in processed data.
	Train Data (Processed) Memory Usage: 0.0 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.09s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 107, Val Rows: 27
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif ...
	-10266.5782	 = Validation score   (-root_mean_squared_error)
	1.94s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: KNeighborsDist ...
	-10606.1402	 = Validation score   (-root_mean_squared_error)
	0.01s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMXT ...

In [1]:
predictor.leaderboard(silent=True)

NameError: name 'predictor' is not defined

In [7]:
#import numpy
numpy.__version__

'1.23.5'